@model ParkingRoutes.Models.Route

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartureParkingId" class="control-label"></label>
                <select asp-for="DepartureParkingId" class="form-control" asp-items="@ViewBag.ParkingIds">
                    <option />
                </select>
                <span asp-validation-for="DepartureParkingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationParkingId" class="control-label"></label>
                <select asp-for="DestinationParkingId" class="form-control" asp-items="@ViewBag.ParkingIds">
                    <option />
                </select>
                <span asp-validation-for="DestinationParkingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="@ViewBag.CarIds">
                    <option />
                </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
